extends layout/header
block title
  title= "Southampton Sustainability Week 2016"
  meta(name='description', content='Welcome to Southampton Sustainability Week. Events across the city will be taking place from the 8th-16th October 2016. We will have talks, tours, film screenings, workshops, boat trips, bike rides, music and a lot more, on the theme of renewable energy, sustainable travel and business, low-carbon food and permaculture.')
  script(src="js/jquery-1.12.0.min.js")

extends layout/footer
block jsScripts
  script(src="js/isotope.pkgd.js")
  script(src="js/test-2.js")
  
extends layout


block content-main 
  header#branding
    img(src="/img/illustration.svg")
    p#date
      span 8th - 16th October 2016
    section#intro
      h1#cover-title Find out what's on 
        span in Southampton's first sustainability Week
      p We are really excited about Southampton's first sustainability week and have some great events lined up for you. Have a look to see what's on and hope to see you at an event soon!
      p 
        a(class='scroll-btn' href='#event-listings') Click here to see what's on
  section#event-listings
    section#filters
      h2 #[span Southampton Sustainability Week Event Listings]
      input(type="checkbox" id="op")
      .lower
        label(for="op") Click to filter
      .full  
        label Filter events by Category
      
      nav#event-categories
      
          ul
            label(for="op" class="") 
              li #[a(data-filter="*" class="reset main") All]
            label(for="op" class="") 
              li #[a(data-filter=".Zero-Carbon") Zero Carbon]
            label(for="op" class="") 
              li #[a(data-filter=".Zero-Waste") Zero Waste]
            label(for="op" class="") 
              li #[a(data-filter=".Sustainable-Transport") Sustainable Transport]
            label(for="op" class="") 
              li #[a(data-filter=".Sustainable-Materials") Sustainable Materials]
            label(for="op" class="") 
              li #[a(data-filter=".Local-And-Sustainable-Food") Local and sustainable food]
            label(for="op" class="") 
              li #[a(data-filter=".Sustainable-Water-Land-Use-And-Wildlife") Sustainable water, land use and wildlife]  
            label(for="op" class="") 
              li #[a(data-filter=".Culture-And-Heritage") Culture and heritage]  
            label(for="op" class="") 
              li #[a(data-filter=".Equity-And-Local-Economy") Equity and local economy]  
            label(for="op" class="") 
              li #[a(data-filter=".Health-And-Happiness") Health and happiness]
               
    section#events-container
      each post in site.events.all()
        -var a = post.tags.replace(/\s+/g, '-')
        -var tags = a.split(',')
        section(class=post._categories, class=post.day, class=tags)
          h3 #[a(href=post._url)=post.title]
          section.details
            p Date: 
              span= post.date
            p Time: 
              time= post.time
            p Location: 
              span= post.location
          p= post.excert  
        
          
    
      
    
