html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  font-size: 16px;
  font-size: 100%;
}
body {
  font-family: "Woodford Bourne", HelveticaNeue, Helvetica, Arial, sans-serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: auto;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}
p a,
h1 a,
h2 a,
h3 a,
li a {
  color: #383838;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-bottom: 1px solid transparent;
}
p a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
li a:hover {
  border-bottom: 1px solid;
}
p a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
li a:hover {
  color: #303030;
}
p a:visited,
h1 a:visited,
h2 a:visited,
h3 a:visited,
li a:visited {
  opacity: 0.8;
}
body {
  width: 100%;
  min-height: 100%;
  display: inline-block;
  background-color: #01ff70;
}
.container {
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
#branding {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  min-height: 100%;
  min-height: 100vh;
  padding: 10px;
}
#branding:last-child {
  margin-right: 0;
}
#branding img {
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 600px;
  height: auto;
  height: 50vh;
  width: auto;
}
@media (max-width: 914px) {
  #branding img {
    width: 600px;
    height: auto;
  }
}
@media (max-width: 600px) {
  #branding img {
    width: 100%;
    height: auto;
  }
}
#date {
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  font-size: 1.7em;
  float: left;
  clear: none;
  width: 48.5%;
  margin-left: 25.75%;
  margin-right: 3%;
}
@media (max-width: 914px) {
  #date {
    float: left;
    clear: none;
    width: 79.4%;
    margin-left: 10.3%;
    margin-right: 3%;
  }
  #date:last-child {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  #date {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 3%;
  }
  #date:last-child {
    margin-right: 0;
  }
}
@media (max-width: 490px) {
  #date {
    font-size: 1.5em;
  }
}
#date:last-child {
  margin-right: 0;
}
#date span {
  border: 6px solid #222;
  padding: 5px;
  margin: 0.5em 0;
}
#cover-title {
  font-size: 3em;
  line-height: 0.9em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#cover-title span {
  font-size: 0.4em;
  line-height: 1.2em;
  margin-top: 0;
  display: block;
}
#intro {
  float: left;
  clear: none;
  width: 48.5%;
  margin-left: 25.75%;
  margin-right: 3%;
}
@media (max-width: 600px) {
  #intro {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 3%;
  }
  #intro:last-child {
    margin-right: 0;
  }
}
@media (max-width: 1124px) {
  #intro {
    float: left;
    clear: none;
    width: 89.7%;
    margin-left: 5.15%;
    margin-right: 3%;
  }
  #intro:last-child {
    margin-right: 0;
  }
}
#intro:last-child {
  margin-right: 0;
}
#intro h1,
#intro p {
  text-align: center;
}
#intro a {
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  border: 6px solid #222;
  padding: 10px;
  margin-top: 0.5em;
}
#intro a:hover {
  background: #222;
  color: #fff;
}
#event-listings {
  float: left;
  clear: none;
  width: 97.94%;
  margin-left: 1.03%;
  margin-right: 3%;
  padding: 0% 2% 2%;
  background: #f7f6f0;
  height: 100%;
  min-height: 90vh;
}
@media (max-width: 914px) {
  #event-listings {
    float: left;
    clear: none;
    width: 79.4%;
    margin-left: 10.3%;
    margin-right: 3%;
  }
  #event-listings:last-child {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  #event-listings {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 3%;
  }
  #event-listings:last-child {
    margin-right: 0;
  }
}
#event-listings:last-child {
  margin-right: 0;
}
#event-listings h2 {
  font-size: 2em;
  margin-top: 100px;
  margin-bottom: 30px;
  line-height: 1.35em;
}
#event-listings h2 span {
  background: #222;
  color: #fff;
  padding: 0px 5px;
  margin: 15px 0;
}
input {
  display: none;
}
.lower label,
.full label {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  border-bottom: 5px solid #222;
  padding: 5px 0 1px;
  margin: 2px 0 0;
  text-transform: uppercase;
  font-weight: bold;
}
.lower label {
  display: none;
}
#event-listings label.close {
  display: none;
}
#event-listings ul {
  list-style: none;
  margin: 0;
  border-bottom: 3px solid #222;
  padding: 5px 0 1px;
  margin: 2px 0 0;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2px 0 5px;
  display: block;
}
#event-listings ul li {
  display: inline-block;
  margin: 5px 3px;
}
#event-listings ul li a {
  padding: 1px 1px 0px;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
}
#event-listings ul a[data-filter=".Zero-Carbon"] {
  border: #e5373c 4px solid;
  color: #e5373c;
  background: none;
}
#event-listings ul a[data-filter=".Zero-Carbon"]:hover,
#event-listings ul a[data-filter=".Zero-Carbon"].checked {
  background: #e5373c;
  color: #fff;
}
#event-listings ul a.main {
  border: #222 4px solid;
  color: #222;
  background: none;
}
#event-listings ul a.main:hover,
#event-listings ul a.main.checked {
  background: #222;
  color: #fff;
}
#event-listings ul a[data-filter=".Zero-Waste"] {
  border: #fed316 4px solid;
  color: #fed316;
  background: none;
}
#event-listings ul a[data-filter=".Zero-Waste"]:hover,
#event-listings ul a[data-filter=".Zero-Waste"].checked {
  background: #fed316;
  color: #fff;
}
#event-listings ul a.main {
  border: #222 4px solid;
  color: #222;
  background: none;
}
#event-listings ul a.main:hover,
#event-listings ul a.main.checked {
  background: #222;
  color: #fff;
}
#event-listings ul a[data-filter=".Sustainable-Materials"] {
  border: #c9bada 4px solid;
  color: #c9bada;
  background: none;
}
#event-listings ul a[data-filter=".Sustainable-Materials"]:hover,
#event-listings ul a[data-filter=".Sustainable-Materials"].checked {
  background: #c9bada;
  color: #fff;
}
#event-listings ul a.main {
  border: #222 4px solid;
  color: #222;
  background: none;
}
#event-listings ul a.main:hover,
#event-listings ul a.main.checked {
  background: #222;
  color: #fff;
}
#event-listings ul a[data-filter=".Local-And-Sustainable-Food"] {
  border: #00adef 4px solid;
  color: #00adef;
  background: none;
}
#event-listings ul a[data-filter=".Local-And-Sustainable-Food"]:hover,
#event-listings ul a[data-filter=".Local-And-Sustainable-Food"].checked {
  background: #00adef;
  color: #fff;
}
#event-listings ul a.main {
  border: #222 4px solid;
  color: #222;
  background: none;
}
#event-listings ul a.main:hover,
#event-listings ul a.main.checked {
  background: #222;
  color: #fff;
}
#event-listings ul a[data-filter=".Sustainable-Water-Land-Use-And-Wildlife"] {
  border: #f37747 4px solid;
  color: #f37747;
  background: none;
}
#event-listings ul a[data-filter=".Sustainable-Water-Land-Use-And-Wildlife"]:hover,
#event-listings ul a[data-filter=".Sustainable-Water-Land-Use-And-Wildlife"].checked {
  background: #f37747;
  color: #fff;
}
#event-listings ul a.main {
  border: #222 4px solid;
  color: #222;
  background: none;
}
#event-listings ul a.main:hover,
#event-listings ul a.main.checked {
  background: #222;
  color: #fff;
}
#event-listings ul a[data-filter=".Culture-And-Heritage"] {
  border: #63c8d3 4px solid;
  color: #63c8d3;
  background: none;
}
#event-listings ul a[data-filter=".Culture-And-Heritage"]:hover,
#event-listings ul a[data-filter=".Culture-And-Heritage"].checked {
  background: #63c8d3;
  color: #fff;
}
#event-listings ul a.main {
  border: #222 4px solid;
  color: #222;
  background: none;
}
#event-listings ul a.main:hover,
#event-listings ul a.main.checked {
  background: #222;
  color: #fff;
}
#event-listings ul a[data-filter=".Equity-And-Local-Economy"] {
  border: #e8e614 4px solid;
  color: #e8e614;
  background: none;
}
#event-listings ul a[data-filter=".Equity-And-Local-Economy"]:hover,
#event-listings ul a[data-filter=".Equity-And-Local-Economy"].checked {
  background: #e8e614;
  color: #fff;
}
#event-listings ul a.main {
  border: #222 4px solid;
  color: #222;
  background: none;
}
#event-listings ul a.main:hover,
#event-listings ul a.main.checked {
  background: #222;
  color: #fff;
}
#event-listings ul a[data-filter=".Health-And-Happiness"] {
  border: #d78dbc 4px solid;
  color: #d78dbc;
  background: none;
}
#event-listings ul a[data-filter=".Health-And-Happiness"]:hover,
#event-listings ul a[data-filter=".Health-And-Happiness"].checked {
  background: #d78dbc;
  color: #fff;
}
#event-listings ul a.main {
  border: #222 4px solid;
  color: #222;
  background: none;
}
#event-listings ul a.main:hover,
#event-listings ul a.main.checked {
  background: #222;
  color: #fff;
}
#event-listings ul a[data-filter=".Sustainable-Transport"] {
  border: #63479c 4px solid;
  color: #63479c;
  background: none;
}
#event-listings ul a[data-filter=".Sustainable-Transport"]:hover,
#event-listings ul a[data-filter=".Sustainable-Transport"].checked {
  background: #63479c;
  color: #fff;
}
#event-listings ul a.main {
  border: #222 4px solid;
  color: #222;
  background: none;
}
#event-listings ul a.main:hover,
#event-listings ul a.main.checked {
  background: #222;
  color: #fff;
}
@media (max-width: 910px) {
  .full label {
    display: none;
  }
  .lower label:hover {
    cursor: pointer;
  }
  .lower label {
    display: block;
    font-size: 1em;
  }
  label.test {
    z-index: -1;
    background: #0074d9;
  }
  #event-categories {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(247,255,240,0.95);
    z-index: 3;
  }
  #event-categories label.close {
    display: block;
  }
  #event-categories ul {
    list-style: none;
    text-align: left;
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 3%;
    margin-top: 0px;
    border: none;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #event-categories ul:last-child {
    margin-right: 0;
  }
  #event-categories ul li {
    width: auto;
    max-width: 1440px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    width: 90%;
    display: block;
    list-style: none;
    opacity: 0.4;
    -webkit-transform: translateY(-25%) rotateX(35deg);
            transform: translateY(-25%) rotateX(35deg);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  }
  #event-categories ul li a {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    display: block;
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
  }
  .lower~#event-categories {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
  }
  #op:checked~#event-categories {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  #event-categories {
    -moz-perspective: 300px;
  }
  #op:checked~#event-categories ul li {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  #op:not(:checked)~#event-categories ul li {
    -webkit-transform: translateY(25%) rotateX(-35deg);
            transform: translateY(25%) rotateX(-35deg);
  }
}
.events {
  float: left;
  clear: none;
  width: 22.75%;
  margin-left: 0;
  margin-right: 3%;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}
.events:nth-of-type(n) {
  margin-right: 3%;
  float: left;
  clear: none;
}
.events:nth-of-type(4n) {
  margin-right: 0;
  float: right;
}
.events:nth-of-type(4n+1) {
  clear: both;
}
@media (max-width: 914px) {
  .events {
    float: left;
    clear: none;
    width: 31.33333333333333%;
    margin-left: 0;
    margin-right: 3%;
  }
  .events:nth-of-type(n) {
    margin-right: 3%;
    float: left;
    clear: none;
  }
  .events:nth-of-type(3n) {
    margin-right: 0;
    float: right;
  }
  .events:nth-of-type(3n+1) {
    clear: both;
  }
}
@media (max-width: 600px) {
  .events {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 3%;
  }
  .events:last-child {
    margin-right: 0;
  }
}
.events h3 {
  margin: 5px 0 10px;
  line-height: 2em;
  font-size: 1em;
}
.events h3 a {
  margin: 0 0 0px;
  background: #222;
  color: #fff;
  padding: 0px 5px;
  margin: 15px 0;
  padding: 0px;
  border: 6px solid #222;
}
.events h3 a:hover {
  background: none;
  color: #222;
}
.events .details p {
  border-bottom: 3px solid #222;
  padding: 5px 0 1px;
  margin: 2px 0 0;
  text-transform: uppercase;
  font-weight: bold;
}
.events span,
.events time {
  display: inline;
  font-weight: normal;
}
#social-links {
  text-transform: uppercase;
  font-weight: bolder;
}
@media (max-width: 914px) {
  #social-links {
    float: left;
    clear: none;
    width: 79.4%;
    margin-left: 10.3%;
    margin-right: 3%;
  }
  #social-links:last-child {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  #social-links {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 3%;
  }
  #social-links:last-child {
    margin-right: 0;
  }
}
#social-links p {
  float: left;
  clear: none;
  width: 31.33333333333333%;
  margin-left: 0;
  margin-right: 3%;
  text-align: center;
  font-size: 0.8em;
}
#social-links p:last-child {
  margin-right: 0;
}
#social-links p a {
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  border: 6px solid #222;
  padding: 4px;
  margin-top: 0.5em;
}
#social-links p a:hover {
  background: #222;
  color: #fff;
}
#event-article {
  background: #fff;
  padding: 0% 5%;
  float: left;
  clear: none;
  width: 97.94%;
  margin-left: 1.03%;
  margin-right: 3%;
}
#event-article:last-child {
  margin-right: 0;
}
@media (min-width: 720px) {
  #event-article {
    padding: 1% 5%;
  }
}
@media (min-width: 720px) {
  #event-article header,
  #event-article main,
  #event-article section {
    float: left;
    clear: none;
    width: 58.8%;
    margin-left: 20.6%;
    margin-right: 3%;
  }
  #event-article header:last-child,
  #event-article main:last-child,
  #event-article section:last-child {
    margin-right: 0;
  }
}
.event-details h1 span {
  background: #222;
  color: #fff;
  padding: 0px 5px;
  margin: 15px 0;
}
.event-details p {
  border-bottom: 5px solid #222;
  padding: 5px 0 1px;
  margin: 2px 0 0;
  text-transform: uppercase;
  font-weight: bold;
}
.event-details p span {
  font-weight: normal;
}
.event-details p span[class="Zero-Carbon"] {
  background: #e5373c;
  color: #fff;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 0.7em;
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 0 2px;
}
.event-details p span[class="Zero-Waste"] {
  background: #fed316;
  color: #fff;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 0.7em;
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 0 2px;
}
.event-details p span[class="Sustainable-Materials"] {
  background: #c9bada;
  color: #fff;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 0.7em;
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 0 2px;
}
.event-details p span[class="Local-And-Sustainable-Food"] {
  background: #00adef;
  color: #fff;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 0.7em;
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 0 2px;
}
.event-details p span[class="Sustainable-Water-Land-Use-And-Wildlife"] {
  background: #f37747;
  color: #fff;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 0.7em;
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 0 2px;
}
.event-details p span[class="Culture-And-Heritage"] {
  background: #63c8d3;
  color: #fff;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 0.7em;
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 0 2px;
}
.event-details p span[class="Equity-And-Local-Economy"] {
  background: #e8e614;
  color: #fff;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 0.7em;
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 0 2px;
}
.event-details p span[class="Health-And-Happiness"] {
  background: #d78dbc;
  color: #fff;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 0.7em;
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 0 2px;
}
.event-details p span[class="Sustainable-Transport"] {
  background: #63479c;
  color: #fff;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 0.7em;
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 0 2px;
}
#branding-pages {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 3%;
  margin-bottom: 1%;
}
#branding-pages:last-child {
  margin-right: 0;
}
#branding-pages img {
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  height: 200px;
}
@media (min-width: 720px) {
  #branding-pages img {
    height: 300px;
  }
}
[aos="fade"] {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
[aos="fade"].aos-animate {
  opacity: 1;
}
#branding img[aos="scale"] {
  height: 50vh;
  -webkit-transition-property: height;
  transition-property: height;
}
.shrink {
  height: 0.2vh;
}
.item {
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 200px;
  height: 200px;
  display: block;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #d13f19;
  font-size: 3em;
}
[data-aos="example-anim1"] {
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}
[data-aos="example-anim1"].aos-animate {
  -webkit-transform: skewX(0);
          transform: skewX(0);
  opacity: 1;
}
[data-aos="example-anim2"] {
  background: #d13f19;
  -webkit-transition-property: background;
  transition-property: background;
}
[data-aos="example-anim2"].aos-animate {
  background: #2ecc40;
}
[data-aos="example-anim3"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}
[data-aos="example-anim3"].aos-animate {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1;
}
[data-aos][data-aos][data-aos-easing=linear],
body[data-aos-easing=linear] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
          transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
}
[data-aos][data-aos][data-aos-easing=ease],
body[data-aos-easing=ease] [data-aos] {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-easing=ease-in],
body[data-aos-easing=ease-in] [data-aos] {
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}
[data-aos][data-aos][data-aos-easing=ease-out],
body[data-aos-easing=ease-out] [data-aos] {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
[data-aos][data-aos][data-aos-easing=ease-in-out],
body[data-aos-easing=ease-in-out] [data-aos] {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
[data-aos][data-aos][data-aos-easing=ease-in-back],
body[data-aos-easing=ease-in-back] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
          transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
[data-aos][data-aos][data-aos-easing=ease-out-back],
body[data-aos-easing=ease-out-back] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
[data-aos][data-aos][data-aos-easing=ease-in-out-back],
body[data-aos-easing=ease-in-out-back] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
[data-aos][data-aos][data-aos-easing=ease-in-sine],
body[data-aos-easing=ease-in-sine] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
          transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
[data-aos][data-aos][data-aos-easing=ease-out-sine],
body[data-aos-easing=ease-out-sine] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
          transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}
[data-aos][data-aos][data-aos-easing=ease-in-out-sine],
body[data-aos-easing=ease-in-out-sine] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
          transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
[data-aos][data-aos][data-aos-easing=ease-in-quad],
body[data-aos-easing=ease-in-quad] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
          transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
[data-aos][data-aos][data-aos-easing=ease-out-quad],
body[data-aos-easing=ease-out-quad] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
[data-aos][data-aos][data-aos-easing=ease-in-out-quad],
body[data-aos-easing=ease-in-out-quad] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
          transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
[data-aos][data-aos][data-aos-easing=ease-in-cubic],
body[data-aos-easing=ease-in-cubic] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
          transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
[data-aos][data-aos][data-aos-easing=ease-out-cubic],
body[data-aos-easing=ease-out-cubic] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
[data-aos][data-aos][data-aos-easing=ease-in-out-cubic],
body[data-aos-easing=ease-in-out-cubic] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
          transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
[data-aos][data-aos][data-aos-easing=ease-in-quart],
body[data-aos-easing=ease-in-quart] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
          transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
[data-aos][data-aos][data-aos-easing=ease-out-quart],
body[data-aos-easing=ease-out-quart] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
[data-aos][data-aos][data-aos-easing=ease-in-out-quart],
body[data-aos-easing=ease-in-out-quart] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
          transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
[data-aos][data-aos][data-aos-duration='50'],
body[data-aos-duration='50'] [data-aos] {
  -webkit-transition-duration: 50ms;
          transition-duration: 50ms;
}
[data-aos][data-aos][data-aos-duration='100'],
body[data-aos-duration='100'] [data-aos] {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
[data-aos][data-aos][data-aos-duration='150'],
body[data-aos-duration='150'] [data-aos] {
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}
[data-aos][data-aos][data-aos-duration='200'],
body[data-aos-duration='200'] [data-aos] {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
[data-aos][data-aos][data-aos-duration='250'],
body[data-aos-duration='250'] [data-aos] {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
[data-aos][data-aos][data-aos-duration='300'],
body[data-aos-duration='300'] [data-aos] {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
[data-aos][data-aos][data-aos-duration='350'],
body[data-aos-duration='350'] [data-aos] {
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
}
[data-aos][data-aos][data-aos-duration='400'],
body[data-aos-duration='400'] [data-aos] {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
[data-aos][data-aos][data-aos-duration='450'],
body[data-aos-duration='450'] [data-aos] {
  -webkit-transition-duration: 0.45s;
          transition-duration: 0.45s;
}
[data-aos][data-aos][data-aos-duration='500'],
body[data-aos-duration='500'] [data-aos] {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
[data-aos][data-aos][data-aos-duration='550'],
body[data-aos-duration='550'] [data-aos] {
  -webkit-transition-duration: 0.55s;
          transition-duration: 0.55s;
}
[data-aos][data-aos][data-aos-duration='600'],
body[data-aos-duration='600'] [data-aos] {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}
[data-aos][data-aos][data-aos-duration='650'],
body[data-aos-duration='650'] [data-aos] {
  -webkit-transition-duration: 0.65s;
          transition-duration: 0.65s;
}
[data-aos][data-aos][data-aos-duration='700'],
body[data-aos-duration='700'] [data-aos] {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}
[data-aos][data-aos][data-aos-duration='750'],
body[data-aos-duration='750'] [data-aos] {
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}
[data-aos][data-aos][data-aos-duration='800'],
body[data-aos-duration='800'] [data-aos] {
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
[data-aos][data-aos][data-aos-duration='850'],
body[data-aos-duration='850'] [data-aos] {
  -webkit-transition-duration: 0.85s;
          transition-duration: 0.85s;
}
[data-aos][data-aos][data-aos-duration='900'],
body[data-aos-duration='900'] [data-aos] {
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
}
[data-aos][data-aos][data-aos-duration='950'],
body[data-aos-duration='950'] [data-aos] {
  -webkit-transition-duration: 0.95s;
          transition-duration: 0.95s;
}
[data-aos][data-aos][data-aos-duration='1000'],
body[data-aos-duration='1000'] [data-aos] {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
[data-aos][data-aos][data-aos-duration='1050'],
body[data-aos-duration='1050'] [data-aos] {
  -webkit-transition-duration: 1.05s;
          transition-duration: 1.05s;
}
[data-aos][data-aos][data-aos-duration='1100'],
body[data-aos-duration='1100'] [data-aos] {
  -webkit-transition-duration: 1.1s;
          transition-duration: 1.1s;
}
[data-aos][data-aos][data-aos-duration='1150'],
body[data-aos-duration='1150'] [data-aos] {
  -webkit-transition-duration: 1.15s;
          transition-duration: 1.15s;
}
[data-aos][data-aos][data-aos-duration='1200'],
body[data-aos-duration='1200'] [data-aos] {
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
}
[data-aos][data-aos][data-aos-duration='1250'],
body[data-aos-duration='1250'] [data-aos] {
  -webkit-transition-duration: 1.25s;
          transition-duration: 1.25s;
}
[data-aos][data-aos][data-aos-duration='1300'],
body[data-aos-duration='1300'] [data-aos] {
  -webkit-transition-duration: 1.3s;
          transition-duration: 1.3s;
}
[data-aos][data-aos][data-aos-duration='1350'],
body[data-aos-duration='1350'] [data-aos] {
  -webkit-transition-duration: 1.35s;
          transition-duration: 1.35s;
}
[data-aos][data-aos][data-aos-duration='1400'],
body[data-aos-duration='1400'] [data-aos] {
  -webkit-transition-duration: 1.4s;
          transition-duration: 1.4s;
}
[data-aos][data-aos][data-aos-duration='1450'],
body[data-aos-duration='1450'] [data-aos] {
  -webkit-transition-duration: 1.45s;
          transition-duration: 1.45s;
}
[data-aos][data-aos][data-aos-duration='1500'],
body[data-aos-duration='1500'] [data-aos] {
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}
[data-aos][data-aos][data-aos-duration='1550'],
body[data-aos-duration='1550'] [data-aos] {
  -webkit-transition-duration: 1.55s;
          transition-duration: 1.55s;
}
[data-aos][data-aos][data-aos-duration='1600'],
body[data-aos-duration='1600'] [data-aos] {
  -webkit-transition-duration: 1.6s;
          transition-duration: 1.6s;
}
[data-aos][data-aos][data-aos-duration='1650'],
body[data-aos-duration='1650'] [data-aos] {
  -webkit-transition-duration: 1.65s;
          transition-duration: 1.65s;
}
[data-aos][data-aos][data-aos-duration='1700'],
body[data-aos-duration='1700'] [data-aos] {
  -webkit-transition-duration: 1.7s;
          transition-duration: 1.7s;
}
[data-aos][data-aos][data-aos-duration='1750'],
body[data-aos-duration='1750'] [data-aos] {
  -webkit-transition-duration: 1.75s;
          transition-duration: 1.75s;
}
[data-aos][data-aos][data-aos-duration='1800'],
body[data-aos-duration='1800'] [data-aos] {
  -webkit-transition-duration: 1.8s;
          transition-duration: 1.8s;
}
[data-aos][data-aos][data-aos-duration='1850'],
body[data-aos-duration='1850'] [data-aos] {
  -webkit-transition-duration: 1.85s;
          transition-duration: 1.85s;
}
[data-aos][data-aos][data-aos-duration='1900'],
body[data-aos-duration='1900'] [data-aos] {
  -webkit-transition-duration: 1.9s;
          transition-duration: 1.9s;
}
[data-aos][data-aos][data-aos-duration='1950'],
body[data-aos-duration='1950'] [data-aos] {
  -webkit-transition-duration: 1.95s;
          transition-duration: 1.95s;
}
[data-aos][data-aos][data-aos-duration='2000'],
body[data-aos-duration='2000'] [data-aos] {
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}
[data-aos][data-aos][data-aos-duration='2050'],
body[data-aos-duration='2050'] [data-aos] {
  -webkit-transition-duration: 2.05s;
          transition-duration: 2.05s;
}
[data-aos][data-aos][data-aos-duration='2100'],
body[data-aos-duration='2100'] [data-aos] {
  -webkit-transition-duration: 2.1s;
          transition-duration: 2.1s;
}
[data-aos][data-aos][data-aos-duration='2150'],
body[data-aos-duration='2150'] [data-aos] {
  -webkit-transition-duration: 2.15s;
          transition-duration: 2.15s;
}
[data-aos][data-aos][data-aos-duration='2200'],
body[data-aos-duration='2200'] [data-aos] {
  -webkit-transition-duration: 2.2s;
          transition-duration: 2.2s;
}
[data-aos][data-aos][data-aos-duration='2250'],
body[data-aos-duration='2250'] [data-aos] {
  -webkit-transition-duration: 2.25s;
          transition-duration: 2.25s;
}
[data-aos][data-aos][data-aos-duration='2300'],
body[data-aos-duration='2300'] [data-aos] {
  -webkit-transition-duration: 2.3s;
          transition-duration: 2.3s;
}
[data-aos][data-aos][data-aos-duration='2350'],
body[data-aos-duration='2350'] [data-aos] {
  -webkit-transition-duration: 2.35s;
          transition-duration: 2.35s;
}
[data-aos][data-aos][data-aos-duration='2400'],
body[data-aos-duration='2400'] [data-aos] {
  -webkit-transition-duration: 2.4s;
          transition-duration: 2.4s;
}
[data-aos][data-aos][data-aos-duration='2450'],
body[data-aos-duration='2450'] [data-aos] {
  -webkit-transition-duration: 2.45s;
          transition-duration: 2.45s;
}
[data-aos][data-aos][data-aos-duration='2500'],
body[data-aos-duration='2500'] [data-aos] {
  -webkit-transition-duration: 2.5s;
          transition-duration: 2.5s;
}
[data-aos][data-aos][data-aos-duration='2550'],
body[data-aos-duration='2550'] [data-aos] {
  -webkit-transition-duration: 2.55s;
          transition-duration: 2.55s;
}
[data-aos][data-aos][data-aos-duration='2600'],
body[data-aos-duration='2600'] [data-aos] {
  -webkit-transition-duration: 2.6s;
          transition-duration: 2.6s;
}
[data-aos][data-aos][data-aos-duration='2650'],
body[data-aos-duration='2650'] [data-aos] {
  -webkit-transition-duration: 2.65s;
          transition-duration: 2.65s;
}
[data-aos][data-aos][data-aos-duration='2700'],
body[data-aos-duration='2700'] [data-aos] {
  -webkit-transition-duration: 2.7s;
          transition-duration: 2.7s;
}
[data-aos][data-aos][data-aos-duration='2750'],
body[data-aos-duration='2750'] [data-aos] {
  -webkit-transition-duration: 2.75s;
          transition-duration: 2.75s;
}
[data-aos][data-aos][data-aos-duration='2800'],
body[data-aos-duration='2800'] [data-aos] {
  -webkit-transition-duration: 2.8s;
          transition-duration: 2.8s;
}
[data-aos][data-aos][data-aos-duration='2850'],
body[data-aos-duration='2850'] [data-aos] {
  -webkit-transition-duration: 2.85s;
          transition-duration: 2.85s;
}
[data-aos][data-aos][data-aos-duration='2900'],
body[data-aos-duration='2900'] [data-aos] {
  -webkit-transition-duration: 2.9s;
          transition-duration: 2.9s;
}
[data-aos][data-aos][data-aos-duration='2950'],
body[data-aos-duration='2950'] [data-aos] {
  -webkit-transition-duration: 2.95s;
          transition-duration: 2.95s;
}
[data-aos][data-aos][data-aos-duration='3000'],
body[data-aos-duration='3000'] [data-aos] {
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}
[data-aos][data-aos][data-aos-delay='50'],
body[data-aos-delay='50'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='50'].aos-animate,
body[data-aos-delay='50'] [data-aos].aos-animate {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}
[data-aos][data-aos][data-aos-delay='100'],
body[data-aos-delay='100'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='100'].aos-animate,
body[data-aos-delay='100'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
[data-aos][data-aos][data-aos-delay='150'],
body[data-aos-delay='150'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='150'].aos-animate,
body[data-aos-delay='150'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
[data-aos][data-aos][data-aos-delay='200'],
body[data-aos-delay='200'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='200'].aos-animate,
body[data-aos-delay='200'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
[data-aos][data-aos][data-aos-delay='250'],
body[data-aos-delay='250'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='250'].aos-animate,
body[data-aos-delay='250'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
[data-aos][data-aos][data-aos-delay='300'],
body[data-aos-delay='300'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='300'].aos-animate,
body[data-aos-delay='300'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
[data-aos][data-aos][data-aos-delay='350'],
body[data-aos-delay='350'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='350'].aos-animate,
body[data-aos-delay='350'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}
[data-aos][data-aos][data-aos-delay='400'],
body[data-aos-delay='400'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='400'].aos-animate,
body[data-aos-delay='400'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
[data-aos][data-aos][data-aos-delay='450'],
body[data-aos-delay='450'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='450'].aos-animate,
body[data-aos-delay='450'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}
[data-aos][data-aos][data-aos-delay='500'],
body[data-aos-delay='500'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='500'].aos-animate,
body[data-aos-delay='500'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
[data-aos][data-aos][data-aos-delay='550'],
body[data-aos-delay='550'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='550'].aos-animate,
body[data-aos-delay='550'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}
[data-aos][data-aos][data-aos-delay='600'],
body[data-aos-delay='600'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='600'].aos-animate,
body[data-aos-delay='600'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
[data-aos][data-aos][data-aos-delay='650'],
body[data-aos-delay='650'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='650'].aos-animate,
body[data-aos-delay='650'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
}
[data-aos][data-aos][data-aos-delay='700'],
body[data-aos-delay='700'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='700'].aos-animate,
body[data-aos-delay='700'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
[data-aos][data-aos][data-aos-delay='750'],
body[data-aos-delay='750'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='750'].aos-animate,
body[data-aos-delay='750'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
[data-aos][data-aos][data-aos-delay='800'],
body[data-aos-delay='800'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='800'].aos-animate,
body[data-aos-delay='800'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
[data-aos][data-aos][data-aos-delay='850'],
body[data-aos-delay='850'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='850'].aos-animate,
body[data-aos-delay='850'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.85s;
          transition-delay: 0.85s;
}
[data-aos][data-aos][data-aos-delay='900'],
body[data-aos-delay='900'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='900'].aos-animate,
body[data-aos-delay='900'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}
[data-aos][data-aos][data-aos-delay='950'],
body[data-aos-delay='950'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='950'].aos-animate,
body[data-aos-delay='950'] [data-aos].aos-animate {
  -webkit-transition-delay: 0.95s;
          transition-delay: 0.95s;
}
[data-aos][data-aos][data-aos-delay='1000'],
body[data-aos-delay='1000'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1000'].aos-animate,
body[data-aos-delay='1000'] [data-aos].aos-animate {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
[data-aos][data-aos][data-aos-delay='1050'],
body[data-aos-delay='1050'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1050'].aos-animate,
body[data-aos-delay='1050'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.05s;
          transition-delay: 1.05s;
}
[data-aos][data-aos][data-aos-delay='1100'],
body[data-aos-delay='1100'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1100'].aos-animate,
body[data-aos-delay='1100'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}
[data-aos][data-aos][data-aos-delay='1150'],
body[data-aos-delay='1150'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1150'].aos-animate,
body[data-aos-delay='1150'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.15s;
          transition-delay: 1.15s;
}
[data-aos][data-aos][data-aos-delay='1200'],
body[data-aos-delay='1200'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1200'].aos-animate,
body[data-aos-delay='1200'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
[data-aos][data-aos][data-aos-delay='1250'],
body[data-aos-delay='1250'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1250'].aos-animate,
body[data-aos-delay='1250'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.25s;
          transition-delay: 1.25s;
}
[data-aos][data-aos][data-aos-delay='1300'],
body[data-aos-delay='1300'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1300'].aos-animate,
body[data-aos-delay='1300'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}
[data-aos][data-aos][data-aos-delay='1350'],
body[data-aos-delay='1350'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1350'].aos-animate,
body[data-aos-delay='1350'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.35s;
          transition-delay: 1.35s;
}
[data-aos][data-aos][data-aos-delay='1400'],
body[data-aos-delay='1400'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1400'].aos-animate,
body[data-aos-delay='1400'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}
[data-aos][data-aos][data-aos-delay='1450'],
body[data-aos-delay='1450'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1450'].aos-animate,
body[data-aos-delay='1450'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.45s;
          transition-delay: 1.45s;
}
[data-aos][data-aos][data-aos-delay='1500'],
body[data-aos-delay='1500'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1500'].aos-animate,
body[data-aos-delay='1500'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
[data-aos][data-aos][data-aos-delay='1550'],
body[data-aos-delay='1550'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1550'].aos-animate,
body[data-aos-delay='1550'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.55s;
          transition-delay: 1.55s;
}
[data-aos][data-aos][data-aos-delay='1600'],
body[data-aos-delay='1600'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1600'].aos-animate,
body[data-aos-delay='1600'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}
[data-aos][data-aos][data-aos-delay='1650'],
body[data-aos-delay='1650'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1650'].aos-animate,
body[data-aos-delay='1650'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.65s;
          transition-delay: 1.65s;
}
[data-aos][data-aos][data-aos-delay='1700'],
body[data-aos-delay='1700'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1700'].aos-animate,
body[data-aos-delay='1700'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}
[data-aos][data-aos][data-aos-delay='1750'],
body[data-aos-delay='1750'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1750'].aos-animate,
body[data-aos-delay='1750'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.75s;
          transition-delay: 1.75s;
}
[data-aos][data-aos][data-aos-delay='1800'],
body[data-aos-delay='1800'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1800'].aos-animate,
body[data-aos-delay='1800'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}
[data-aos][data-aos][data-aos-delay='1850'],
body[data-aos-delay='1850'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1850'].aos-animate,
body[data-aos-delay='1850'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.85s;
          transition-delay: 1.85s;
}
[data-aos][data-aos][data-aos-delay='1900'],
body[data-aos-delay='1900'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1900'].aos-animate,
body[data-aos-delay='1900'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.9s;
          transition-delay: 1.9s;
}
[data-aos][data-aos][data-aos-delay='1950'],
body[data-aos-delay='1950'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1950'].aos-animate,
body[data-aos-delay='1950'] [data-aos].aos-animate {
  -webkit-transition-delay: 1.95s;
          transition-delay: 1.95s;
}
[data-aos][data-aos][data-aos-delay='2000'],
body[data-aos-delay='2000'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2000'].aos-animate,
body[data-aos-delay='2000'] [data-aos].aos-animate {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}
[data-aos][data-aos][data-aos-delay='2050'],
body[data-aos-delay='2050'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2050'].aos-animate,
body[data-aos-delay='2050'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.05s;
          transition-delay: 2.05s;
}
[data-aos][data-aos][data-aos-delay='2100'],
body[data-aos-delay='2100'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2100'].aos-animate,
body[data-aos-delay='2100'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.1s;
          transition-delay: 2.1s;
}
[data-aos][data-aos][data-aos-delay='2150'],
body[data-aos-delay='2150'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2150'].aos-animate,
body[data-aos-delay='2150'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.15s;
          transition-delay: 2.15s;
}
[data-aos][data-aos][data-aos-delay='2200'],
body[data-aos-delay='2200'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2200'].aos-animate,
body[data-aos-delay='2200'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.2s;
          transition-delay: 2.2s;
}
[data-aos][data-aos][data-aos-delay='2250'],
body[data-aos-delay='2250'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2250'].aos-animate,
body[data-aos-delay='2250'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.25s;
          transition-delay: 2.25s;
}
[data-aos][data-aos][data-aos-delay='2300'],
body[data-aos-delay='2300'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2300'].aos-animate,
body[data-aos-delay='2300'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.3s;
          transition-delay: 2.3s;
}
[data-aos][data-aos][data-aos-delay='2350'],
body[data-aos-delay='2350'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2350'].aos-animate,
body[data-aos-delay='2350'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.35s;
          transition-delay: 2.35s;
}
[data-aos][data-aos][data-aos-delay='2400'],
body[data-aos-delay='2400'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2400'].aos-animate,
body[data-aos-delay='2400'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.4s;
          transition-delay: 2.4s;
}
[data-aos][data-aos][data-aos-delay='2450'],
body[data-aos-delay='2450'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2450'].aos-animate,
body[data-aos-delay='2450'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.45s;
          transition-delay: 2.45s;
}
[data-aos][data-aos][data-aos-delay='2500'],
body[data-aos-delay='2500'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2500'].aos-animate,
body[data-aos-delay='2500'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
}
[data-aos][data-aos][data-aos-delay='2550'],
body[data-aos-delay='2550'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2550'].aos-animate,
body[data-aos-delay='2550'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.55s;
          transition-delay: 2.55s;
}
[data-aos][data-aos][data-aos-delay='2600'],
body[data-aos-delay='2600'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2600'].aos-animate,
body[data-aos-delay='2600'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.6s;
          transition-delay: 2.6s;
}
[data-aos][data-aos][data-aos-delay='2650'],
body[data-aos-delay='2650'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2650'].aos-animate,
body[data-aos-delay='2650'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.65s;
          transition-delay: 2.65s;
}
[data-aos][data-aos][data-aos-delay='2700'],
body[data-aos-delay='2700'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2700'].aos-animate,
body[data-aos-delay='2700'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.7s;
          transition-delay: 2.7s;
}
[data-aos][data-aos][data-aos-delay='2750'],
body[data-aos-delay='2750'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2750'].aos-animate,
body[data-aos-delay='2750'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.75s;
          transition-delay: 2.75s;
}
[data-aos][data-aos][data-aos-delay='2800'],
body[data-aos-delay='2800'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2800'].aos-animate,
body[data-aos-delay='2800'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.8s;
          transition-delay: 2.8s;
}
[data-aos][data-aos][data-aos-delay='2850'],
body[data-aos-delay='2850'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2850'].aos-animate,
body[data-aos-delay='2850'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.85s;
          transition-delay: 2.85s;
}
[data-aos][data-aos][data-aos-delay='2900'],
body[data-aos-delay='2900'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2900'].aos-animate,
body[data-aos-delay='2900'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.9s;
          transition-delay: 2.9s;
}
[data-aos][data-aos][data-aos-delay='2950'],
body[data-aos-delay='2950'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2950'].aos-animate,
body[data-aos-delay='2950'] [data-aos].aos-animate {
  -webkit-transition-delay: 2.95s;
          transition-delay: 2.95s;
}
[data-aos][data-aos][data-aos-delay='3000'],
body[data-aos-delay='3000'] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='3000'].aos-animate,
body[data-aos-delay='3000'] [data-aos].aos-animate {
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}
[data-aos^=fade][data-aos^=fade] {
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}
[data-aos=fade-up] {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
[data-aos=fade-down] {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}
[data-aos=fade-right] {
  -webkit-transform: translate(-100px);
          transform: translate(-100px);
}
[data-aos=fade-left] {
  -webkit-transform: translate(100px);
          transform: translate(100px);
}
[data-aos=fade-up-right] {
  -webkit-transform: translate(-100px, 100px);
          transform: translate(-100px, 100px);
}
[data-aos=fade-up-left] {
  -webkit-transform: translate(100px, 100px);
          transform: translate(100px, 100px);
}
[data-aos=fade-down-right] {
  -webkit-transform: translate(-100px, -100px);
          transform: translate(-100px, -100px);
}
[data-aos=fade-down-left] {
  -webkit-transform: translate(100px, -100px);
          transform: translate(100px, -100px);
}
[data-aos^=zoom][data-aos^=zoom] {
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}
[data-aos^=zoom][data-aos^=zoom].aos-animate {
  opacity: 1;
  -webkit-transform: translate(0) scale(1);
          transform: translate(0) scale(1);
}
[data-aos=zoom-in] {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
[data-aos=zoom-in-up] {
  -webkit-transform: translateY(100px) scale(0.6);
          transform: translateY(100px) scale(0.6);
}
[data-aos=zoom-in-down] {
  -webkit-transform: translateY(-100px) scale(0.6);
          transform: translateY(-100px) scale(0.6);
}
[data-aos=zoom-in-right] {
  -webkit-transform: translate(-100px) scale(0.6);
          transform: translate(-100px) scale(0.6);
}
[data-aos=zoom-in-left] {
  -webkit-transform: translate(100px) scale(0.6);
          transform: translate(100px) scale(0.6);
}
[data-aos=zoom-out] {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
[data-aos=zoom-out-up] {
  -webkit-transform: translateY(100px) scale(1.2);
          transform: translateY(100px) scale(1.2);
}
[data-aos=zoom-out-down] {
  -webkit-transform: translateY(-100px) scale(1.2);
          transform: translateY(-100px) scale(1.2);
}
[data-aos=zoom-out-right] {
  -webkit-transform: translate(-100px) scale(1.2);
          transform: translate(-100px) scale(1.2);
}
[data-aos=zoom-out-left] {
  -webkit-transform: translate(100px) scale(1.2);
          transform: translate(100px) scale(1.2);
}
[data-aos^=slide][data-aos^=slide] {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
[data-aos^=slide][data-aos^=slide].aos-animate {
  -webkit-transform: translate(0);
          transform: translate(0);
}
[data-aos=slide-up] {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
[data-aos=slide-down] {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
[data-aos=slide-right] {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
[data-aos=slide-left] {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
[data-aos^=flip][data-aos^=flip] {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
[data-aos=flip-left] {
  -webkit-transform: perspective(2500px) rotateY(-100deg);
          transform: perspective(2500px) rotateY(-100deg);
}
[data-aos=flip-left].aos-animate {
  -webkit-transform: perspective(2500px) rotateY(0);
          transform: perspective(2500px) rotateY(0);
}
[data-aos=flip-right] {
  -webkit-transform: perspective(2500px) rotateY(100deg);
          transform: perspective(2500px) rotateY(100deg);
}
[data-aos=flip-right].aos-animate {
  -webkit-transform: perspective(2500px) rotateY(0);
          transform: perspective(2500px) rotateY(0);
}
[data-aos=flip-up] {
  -webkit-transform: perspective(2500px) rotateX(-100deg);
          transform: perspective(2500px) rotateX(-100deg);
}
[data-aos=flip-up].aos-animate {
  -webkit-transform: perspective(2500px) rotateX(0);
          transform: perspective(2500px) rotateX(0);
}
[data-aos=flip-down] {
  -webkit-transform: perspective(2500px) rotateX(100deg);
          transform: perspective(2500px) rotateX(100deg);
}
[data-aos=flip-down].aos-animate {
  -webkit-transform: perspective(2500px) rotateX(0);
          transform: perspective(2500px) rotateX(0);
}
