section#social-links
  p #[a(href="https://twitter.com/SotonClimate" target="blank") Find us on twitter]
  p #[a(href="https://twitter.com/search?f=tweets&q=%23sustainsoton" target="blank") #sustainsoton]
  p #[a(href="https://www.facebook.com/sustainsouthampton" target="blank") Like us on Facebook]
!= js()

block jsScripts
