extends header
block title
title= post.title
script(src="../jquery-1.12.0.min.js") 

extends footer
block jsScripts

  

extends ../layout

block content-main
  header#branding-pages
    img(src="/img/illustration.svg")
  article#event-article
    header.event-details
      h1
        span= post.title
      p Date: 
        span=post.date
      p Time: 
        span= post.time
      p Venue: 
        span= post.location
      //p Extra Info: 
        //span= post.extraInfo
      p Categories:
          -var tags = post.tags.split(',')
          each tag in tags
            span(class=tag.replace(/\s+/g, '-')) #{tag}
            //-console.log(tags)
          
        
            
        
              
          
        
          
            
    
              
    main.main
      block content
  
  

      


  
