---
title: 'Sustainability Lunch'
date: 1/10/2016
day: Saturday
time: 12noon
excert: Tasty sustainable lunch, drinks and guest speakers delving into food waste, energy storage and personal carbon footprints.  
tags: Local And Sustainable Food,Health And Happiness,Fringe Events
location: Highfield Church
extraInfo: 
_content: false
---

extends ../views/layout/single_event

block content
 
  p Tasty sustainable lunch, drinks and guest speakers delving into food waste, energy storage and personal carbon footprints.
  p The event will start with a lunch made with produce from the local Sunnyfields Farm and Brighton's Infinity Foods with a short-films loop and some live music. This will be followed by a series of short talks, lectures and interactive displays.
  p #[strong Tickets:] £5-6 purchase in advance #[a(href="https://www.eventbrite.co.uk/e/southampton-sustainability-week-envsoc-sustainable-lunch-tickets-27481034514?aff=erelpanelorg") click here to book]
