---
title: 'Led cycle ride'
date: 1/10/2016
day: Saturday
time: 1pm
excert: An easy-paced road ride to Beaulieu for tea. 
tags: Zero Carbon,Sustainable Transport,Health And Happiness,Fringe Events
location: Ship Inn, Redbridge
extraInfo: 


_content: false
---

extends ../views/layout/single_event

block content

  p An easy-paced (8-10mph) 20-mile road ride to Beaulieu for tea. Organised by #[a(href="http://www.cyclinguk.org/event/ride/southampton-ctc-tea-ride-beaulieu") Southampton CTC]. All welcome.
  p Bring a spare inner tube in case of a puncture. Test why are you not updating
  p Meet at The Ship Inn, Old Redbridge Road, SO15 0NN.
  p #[strong Contact:] Sue Maddocks, 07914 34977
