---
title: 'Documentary Evening'
date: 6/10/2016
day: Thursday
time: 7pm
location: See tickets for details
excert: A documentary with an environmental theme. Will be voted for on the day! 
tags: Culture And Heritage, Fringe Events

extraInfo:


_content: false
---

extends ../views/layout/single_event

block content

  p A documentary with an environmental theme. Will be voted for on the day! Popcorn and drink provided.
  p #[strong Tickets:] £3 on the door/ £2 in advance #[a(href="https://www.eventbrite.com/e/southampton-sustainbility-week-envsocs-documentary-evening-tickets-27481070622?aff=eac2") Click here to purchase]
