---
title: "Let's Cook Vegan"
date: 8/10/2016
day: Saturday
time: 5.30pm-9.30pm
excert: Sold out!
location: Minstead Study Centre
tags: Local And Sustainable Food
extraInfo:


_content: false
---

extends ../views/layout/single_event

block content

  p #[strong PLEASE NOTE THIS EVENT HAS NOW SOLD OUT!]
  p Come and join us for an evening of vegan cooking....and eating! This event is open to all but may be of special interest to those who want to know more about a plant based diet or are just setting out to go vegan and are looking for a little guidance.
  p Richard Barnett and Juliet Lynn, who are experienced vegan cooks, will lead you through the preparation of a full three course vegan meal, answering questions, offering information and tips and sharing the odd 'secret ingredient' along the way. Then we will all settle down to enjoy the fruits (and veg and pulses etc.!) of our labours.
  p It's a hands on event.....the prep and cooking will be shared by everyone and we hope this will make for a really enjoyable and social occasion.
  p You're welcome to bring a bottle of your favourite tipple if you wish....we'll provide water if you don't want to.
  p #[strong Tickets:] £22, to include all ingredients. Tickets very limited, so early booking is advisable. 
  p #[strong #[a(href="https://www.hants.gov.uk/shop/product.php?productid=48822") Click here to book]]
