---
title: 'Climate change - our hopes and fears'
date: 8/10/2016
day: Saturday
time: 3-5pm
excert: An opportunity to listen and be heard on the subject of climate change.
tags: Zero Carbon,Health And Happiness
location: St Edmunds Church Hall
extraInfo: Free event


_content: false
---

extends ../views/layout/single_event

block content

  p An opportunity to listen and be heard on the subject of climate change.
  p Climate change is such a complex thing for us to grapple with:  we can feel powerless and uncertain what to think or believe.  For two hours, we will sit in a circle of council, sharing from our hearts whatever may be our hopes or fears.  We aim to provide a safe and respectful space in which to hear one another.
  p #[strong Full address:] St Edmunds Church Hall, Rockstone Place, SO15 2EQ. It can be difficult to find, and is on a one-way street, so please see the #[a(href="https://www.google.co.uk/maps/place/Rockstone+Pl,+Southampton+SO15+2EQ/@50.9146735,-1.4031825,3a,75y,333.06h,72.85t/data=!3m7!1e1!3m5!1sbqukFq_xHkC3hyctXdctWw!2e0!6s%2F%2Fgeo0.ggpht.com%2Fcbk%3Fpanoid%3DbqukFq_xHkC3hyctXdctWw%26output%3Dthumbnail%26cb_client%3Dmaps_sv.tactile.gps%26thumb%3D2%26w%3D203%26h%3D100%26yaw%3D339.43326%26pitch%3D0!7i13312!8i6656!4m5!3m4!1s0x487476ac1d6cd3b7:0xf21cc63ac952bdf7!8m2!3d50.914678!4d-1.4032233") map here.]
  p Tickets free.]
