---
title: "Playing with Nature's Colours Ecoprinting"
date: 8/10/2016
day: Saturday
time: 11am-4pm
location: Southampton City Art Gallery
excert: An exciting opportunity to create a beautiful silk scarf using the colours of Nature.
tags: Culture And Heritage,Sustainable Materials
extraInfo:


_content: false
---

extends ../views/layout/single_event

block content

  p An exciting opportunity to create a beautiful silk scarf using the colours of Nature. Eco print your scarf using leaves and flowers with Nikola Orpen. All materials provided.
  p This workshop is suitable for those who have enjoyed Nikola's workshops before and absolute beginners alike.
  p #[strong Tickets:] £34. Phone 02380 834536 to book.
