---
title: "Is the Earth Alive?"
date: 8/10/16
day: Saturday
time: 12.00noon
excert: We are happy to invite Dr Jake Snaddon, an ecology researcher (studying organisms and the ecosystem they inhabit), to address the question "Is the Earth alive?"
tags: Sustainable Water Land Use And Wildlife
location: Art House Cafe
_content: false
---
extends ../views/layout/single_event

block content

  p There are many ways in which we can discuss the concept of the earth having life, from the microlevel of tiny organisms populating the planet and the things on it, up to the flora and fauna, and even to the concept of the entire planet as a unified system.
  p Have you heard of the Gaia Hypothesis? The hypothesis is that the Earth is a complex system which is able to self-regulate to maintain an environment that is optimal for sustaining life. It suggests that living organisms co-evolve with their inorganic (non-living) environment (like changes in climate and geological structure) and that the environment changes through the influence of its inhabitants.
  p Jake will explore this in James' question: "Has the Gaia Hypothesis been proved or disproved?"
  p We will explore these question in the event, where everyone will be encouraged to come up with further questions whilst engaging in a creative and imaginative discussion.
  p A donation to The Art House is highly encouraged but not compulsory for attending the event.
  p Join us in The Art House on Above Bar Street for a good coffee and great, environmental science! #sciroom #sustainsoton
  p #[a(href="https://www.facebook.com/events/869414686525290/") Click here to see the facebook event page.]
