---
title: "Electric boat trips"
date: 8/10/16
day: Saturday
time: Various
excert: Join us for a trip out on the River Itchen and learn about the technology that can revolutionise water transportation, which is being developed here in Southampton.
tags: Sustainable Transport,Sustainable Water Land Use And Wildlife
location: See tickets
_content: false
---
extends ../views/layout/single_event

block content

  p Greener cars are finally arriving; now it's time to kickstart the green revolution on water. 
  p Back in 2013 we launched an exciting new concept at the time - a fully electric power boat RIB named She's Electric. 
  p Now in 2016 we are developing a clean and green hybrid electric engine, which can be dropped into existing and new boats, starting with a Venice water taxi.
  p Join us for a trip out on the River Itchen and learn about the technology that can revolutionise water transportation. You can get on the She's Electric for a unique electric boat trip and see our to-be-hybrid Venice taxi boat which is currently running on normal diesel engine (but you can already see the hybrid module mounted to it and electric motor spinning!).
  p Available dates: 08.10.2016 & 09.10.2016 
  p Tickets very limited. #[a(href="https://www.eventbrite.co.uk/e/river-boat-trip-tickets-27549496285") Click here to purchase.] Please note, although tickets are free, we will be asking for a donation towards running costs on the day.
  p 
  p About She's Electric:
  p She's Electric has an electric 15kW outboard and 3kW charger with high-end battery management system and can perform 1 hour run time at full power and lowest noise in class. The 3.4m RIB has 5 seats with jockey console, steering and helm. This quiet, clean and fast alternative to petrol allows people to enjoy the sounds and smells of the sea while being on board!
  p 
  p About the hybrid Venice taxi boat project:
  p Everybody is aware of the effects of transport in cities but not all of us experience the issues caused by water based transport. Smelly exhaust gas and particle emissions from polluting engines are causing serious health issues and contributing hugely to global warming, which ultimately results in dramatic natural disasters. Noise, pollution and vibration from operating boats shake the foundations, destroys peace and relaxation, drives away wildlife.
  p Our oil dependency has serious global consequences. It causes conflicts and crisis with its unstable prices and unsustainable supply, let alone major environmental and safety problems at oil fields, oil refineries and during transportation. Every year there are several incidents where oil spillages destroy beaches, marshlands, fragile aquatic ecosystems; harming animals; causing deaths, injuries and economic damage.
  p Whilst ‘clean & green’ technology is now making good progress in the automotive industry, such revolution has still lagged far behind in the marine world... until now! The hybrid system reduces fuel use by 50%, takes away the range anxiety that comes with battery-powered boats, and reduces water pollution from diesel use in sensitive areas.
