---
title: 'Day Cycle Ride'
date: 8/10/2016
day: Saturday
time: 9.30am
excert: A moderate-paced cycle ride to King's Somborne
tags: Zero Carbon,Sustainable Transport,Health And Happiness
location: North Baddesley
extraInfo: 

_content: false
---

extends ../views/layout/single_event

block content
 
  p A moderate-paced (10-12mph) 40-mile cycle day ride to King’s Somborne, with a stop for coffee at Winchester. Organised by #[a(href="http://www.cyclinguk.org/event/ride/southampton-ctc-day-ride-kings-somborne") Southampton CTC].
  p Meet at North Baddesley Traffic light crossroads, by Co-op, SO52 9DW 
  p #[strong Contact:] Kathy Purkis, 07940 521386 
