---
title: 'Day cycle ride to Bournemouth'
date: 9/10/2016
day: Sunday
time: 9am
excert: A faster ride to Bournemouth Airport for lunch
tags: Sustainable Transport,Health And Happiness
location: Redbridge Flyover
extraInfo: 


_content: false
---

extends ../views/layout/single_event

block content
  p A faster (12-14 mph) 60-mile ride to Bournemouth Airport for lunch with coffee at Sway. Organised by #[a(href="http://www.cyclinguk.org/event/ride/southampton-ctc-day-ride-bournemouth") Southampton CTC]. 
  p Meet under Redbridge Flyover, Near The Ship Inn, Test Lane / Old Redbridge Road, SO15 0NN.
  p #[strong Contact Chris Devrell:] 02380 740990
