---
title: 'Film Screening - Bicycle: A Great British Movement'
date: 9/10/2016
day: Sunday
time: 3pm
location: The Art House
excert: A documentary on the joy and history of cycling in Great Britain, plus a talk and demonstration from Nick Coates of Beamz bikes, where coppice wood poles are turned into high performance bikes.
tags: Sustainable Transport,Culture And Heritage
extraInfo:


_content: false
---

extends ../views/layout/single_event

block content

  p The film tells the story of cycling in the land that invented the modern bicycle, its birth, decline and rebirth from Victorian origins to today, and asks the question: why is cycling and the bicycle back in fashion?
  p We will also have a talk and demonstration from Nick Coates of Beamz bikes, where coppice wood poles are turned into high performance bikes.
  p #[strong Tickets:] Free, donations gratefully accepted on the day. Tickets are limited so book early!
  p #[a(href="https://www.eventbrite.co.uk/e/film-screening-bicycle-a-great-british-movement-tickets-27549934596") Click here to book.]
  
