---
title: 'Half-day cycle ride'
date: 9/10/2016
day: Sunday
time: 9.30am
excert: A moderate-paced half-day road cycle ride.
tags: Sustainable Transport,Health And Happiness
location: North Baddesley 
extraInfo: 

_content: false
---

extends ../views/layout/single_event

block content

  p A moderate-paced (10-12mph) half-day road cycle ride to Landford Garden Centre for coffee. Organised by #[a(href="http://www.cyclinguk.org/event/ride/southampton-ctc-half-day-ride-landford") Southampton CTC].
  p Meet at North Baddesley Traffic light crossroads, by Co-op, SO52 9DW
  p #[strong Contact:] Kathy Purkis, 07940 521386
