---
title: 'Litter Pick, Cake & Climate Change Chat'
date: 16/10/2016
day: Sunday
time: 2.30pm-4.30pm
location: St Lukes Church, Hedge End
excert: Join us for a litter-pick, followed by cake and a chat about climate change.
tags: Sustainable Water Land Use And Wildlife
extraInfo:


_content: false
---

extends ../views/layout/single_event

block content

  p We will be doing a local litter-pick from 2.30, then meeting in the church for tea and cake and a climate change chat from 3.30pm.
  p If you're only interested in the tea and cake part, please come along! Open to everyone.
   
  
