---
title: "Hike in Hampshire"
date: 15/10/16
day: Saturday
time: 10am-4pm
excert: A wonderfully wild walk with a talk and species identification.
tags: Health And Happiness,Sustainable Water Land Use And Wildlife
extraInfo:
location: Meeting at Highfield Campus Interchange
_content: false
---
extends ../views/layout/single_event

block content

  p A wonderfully wild walk with a talk and species identification.
  p Meet at University of Southampton Highfield Campus Interchange. Leaving at 10.00 sharp.
  p #[strong Tickets:] £4 purchase in advance  #[a(heref="https://www.eventbrite.co.uk/e/hike-in-hampshire-tickets-27481056580") click to buy]
