---
title: "100% Renewable Energy IS Possible"
date: 11/10/16
day: Tuesday
time: 7:30pm
excert: Mark Hancock, who has worked in renewable energy for 35 years will share his knowledge and enthusiasm in this engaging talk.
tags: Zero Carbon
location: Butcher's Hook Alehouse
_content: false
---

extends ../views/layout/single_event

block content

  p Renewable energy is not only effective and needed to help avoid catastrophic climate change, but is already near parity on costs can meet future demand without nuclear.  The motivation is ethical and we have the brains to make it happen. It just needs the political vision to divert the resources to it!
  p Mark Hancock, who has worked in renewable energy for 35 years will share his knowledge and enthusiasm in this engaging talk.
  p Tickets free, #[a(href="https://www.eventbrite.co.uk/e/100-renewable-is-possible-tickets-27926981353") click here to book.]
