---
title: "Renewable Energy; Who, What, Why, When, Where, and How?"
date: 13/10/16
day: Thursday
time: 2pm
excert: An in-depth on all forms of renewable energy, followed by a Q&A session.
tags: Zero Carbon
location: Notes Café
_content: false
---

extends ../views/layout/single_event

block content

  p A chance to find out all the things you've wondered about renewable energy but have never had the chance to find out!
  p Mark Hartung, who works at a renewable installation company, will give an in-depth presentation on all forms of renewable energy, leading to an open discussion where you will have the chance to ask those burning questions!
  p This event is suitable for those who would like an introduction to renewable energy, and also those who already know about renewables but would like to learn more.
  p Tickets free, #[a(href="https://www.eventbrite.co.uk/e/renewable-energy-who-what-why-when-where-and-how-tickets-28183697197") click here to book.]
