---
title: 'Solar Farm Tour'
date: 15/10/2016
day: Saturday
time: 10.30am
location: West Solent Solar Farm
excert: This community-owned solar farm can produce enough electricity to supply about 650 local homes!
tags: Zero Carbon,Equity And Local Economy
extraInfo: Free event

_content: false
---

extends ../views/layout/single_event

block content

  p Proof that you don’t have to be French or Chinese to build a power station in the UK! The community-owned solar farm can produce enough electricity to supply about 650 local homes. We may go to a local pub for lunch afterwards.
  p Possibilities of lift-sharing from Southampton or Lymington station, ask or offer on the #[a(href="https://www.facebook.com/SustainSouthampton/") facebook page.]  
  p Full address: West Solent Solar Farm Iley Lane, Pennington, Nr. Lymington
  p Tickets are free, #[a(href="https://www.eventbrite.co.uk/e/solar-farm-tour-tickets-28287186737") click here to book.]
