---
title: "Food Co-Ops – Cutting Out ‘The Middleman’"
date: 11/10/2016
day: Tuesday
time: 7:30pm
excert: A short talk on setting up food co-ops or buying groups, their cost savings and environmental benefits.
tags: Local And Sustainable Food,Equity And Local Economy
location: Mettricks Guildhall
_content: false
---

extends ../views/layout/single_event

block content

  p A short talk on setting up food co-ops or buying groups, their cost savings and environmental benefits.
  p Going direct to wholesalers cuts out a lot of the food miles/CO2 emissions associated with supermarket storage and distribution systems. And saves money too!
  p Tickets free, #[a(href="https://www.eventbrite.co.uk/e/food-co-ops-cutting-out-the-middleman-tickets-27912544171") click here to book]
