---
title: 'How do we improve our recycling system? Lessons from drinking German Beer!'
date: 12/10/16
day: Wednesday
time: 7pm
location: Building 58/Room 1045, Highfield Campus, University of Southampton
excert: Germany is well past the 2030 recycling target of 65%. How did they do it, and can the UK do the same?
tags: Sustainable Materials
extraInfo:


_content: false
---

extends ../views/layout/single_event

block content

  p The UK's recycling rate has plateaued at 45%, and there seems to be little chance of significant improvement. Germany passed this many years ago and is well beyond the 2030 target of 65%. How did they do it, and can the UK do the same?
  p Germany turned it's waste system on its head 25 years ago. This talk describes what they did and how they got on (spoiler alert - quite well). Includes wisdom from beer drinking and something for Brexiteers to cheer (wildly) about
  p 
  p Tickets free, #[a(href="https://www.eventbrite.co.uk/e/how-do-we-improve-our-recycling-system-lessons-from-drinking-german-beer-tickets-28004687775") click here to book.]
