---
title: "Fungi Foray"
date: 15/10/16
day: Saturday
time: 1:30pm
excert: Find and identify a range of fungi on Southampton Common.
tags: Local And Sustainable Food,Sustainable Water Land Use And Wildlife
extraInfo:
location: Southampton Common
_content: false
---
extends ../views/layout/single_event

block content

  p Join the Southampton Natural History Society fungi expert, Phil Budd, to find and identify a range of fungi on Southampton Common. The Common is a Site of Special Scientific Interest (SSSI) and has an excellent range of wildlife. Fungi have flourished due to the land not having been ploughed for over 100 years. Phil will also advise which fungi are edible and how to cook them.
  p No dogs please (unless guide dogs). The pace will be slow and mostly near paths so will be suitable for wheelchair users.
  p Meet at #[a(href="https://www.google.co.uk/maps/@50.9337011,-1.4188008,19z") North-West corner of the Common], at the junction between Hill Lane/Burgess Road. For people coming by car, there is parking on Hill Lane.
  p #[strong Tickets free:]  #[a(href="https://www.eventbrite.co.uk/e/fungi-foray-tickets-27745807457") Click here to book]
