---
title: 'Beach Clean'
date: 16/10/2016
day: Sunday
time: 11am-2pm
location: Near the Pitch and Putt Course, Weston Parade, Weston Shore, Southampton.
excert: Join us for an Autumn beach clean and litter-pick.
tags: Sustainable Water Land Use And Wildlife
extraInfo:


_content: false
---

extends ../views/layout/single_event

block content

  p Join us for the Autumn Beach Clean to get involved and help keep beautiful Weston Shore in Southampton as clean and litter free as possible.
  p Weston Shore is one of the few places in Southampton where you can have immediate contact with Southampton Water and is highly valued both by local people and visitors to the area.  It’s a beautiful place and many people have happy memories of wandering up its long, shingle beach enjoying the sunshine and the sea breezes.
  p It’s also important for wildlife and the foreshore is recognised as a Site of Special Scientific Interest.  Many people will know of it for the family of swans that have taken up residence or the seagulls that are a familiar sight.  Visitors from near and far love to take in the sights, bask in the warm glow of the sun or feel refreshed in the bracing wind of a winter’s day.
  p Litter is of course unsightly and spoils what might be a wonderful, uplifting view, but it is also a serious problem for wildlife. Birds and other sea life can get caught up in litter, such as the plastic binding used for drinks’ cans.  Animals that live in the sea have been found to have eaten bits of the rubbish that can be found on our beaches. By taking part in a litter pick you are helping to reduce this problem.
  p The clean ups have been a big success and are part of the plan that lead to the area being awarded the prestigious Green Flag award in recognition of the shore’s beauty.
  p We hope to see you there! 
  P #[strong Extra Info:] All equipment will be provided.  Those taking part should wear suitable clothing for outdoor work, especially footwear. 
  p This event is supported by the Student Union of Solent University, Surfers Against Sewage and Southampton City Council.
   
  
