---
title: "The Route to Sustainable Shipping"
date: 12/10/16
day: Wednesday 
time: 6pm
excert: An academic and industry event exploring the challenges faced by the maritime industry in becoming more sustainable.
tags: Sustainable Water Land Use And Wildlife,Sustainable Transport
extraInfo:
location: Boldrewood Campus, University of Southampton
_content: false
---
extends ../views/layout/single_event

block content

  p This event explores the challenges the maritime industry faces in achieving environmental sustainability through discussion. A panel of highly esteemed professionals and academics from Southampton's maritime industry will answer structured questions followed by a Q&A session open to the floor. 
  p The discussion will create opportunities for change by highlighting issues in policy, showcasing research and creating networking opportunities.
  p Panelists: 
  ul
    li Mr Motonobu Tsuchiya - Principal specialist for IMO/IACS, Regulatory Affairs, Lloyds Register
    li Mr Tom Strang - Senior Vice President of Maritime Affairs, Carnival Corporation
    li Professor Dominic Hudson – Shell Professor of Ship Safety and Efficiency
    li Senior Academic – Institute of Maritime Law, University of Southampton (TBC)
  p Moderator:
  p Professor Ajit Shenoi - Director of the Southampton Marine and Maritime Institute (SMMI), University of Southampton
  p
  p After the panel discussion, a meet-and-greet will provide the chance to increase knowledge transfer between academia and industry by promoting the exchange of ideas and contacts.
  p Tickets are free, #[a(href="https://www.eventbrite.co.uk/e/the-route-to-sustainable-shipping-tickets-28168759518") click here to book.] 
  p 
  p This event marks Southampton Sustainability week by providing a stimulating discussion to create opportunities for change while showcasing the maritime industry’s presence in Southampton. Southampton sustainability week is a series of city-wide events which encourage sustainable behavioural change by increasing awareness of issues and celebrating progress to date. 
