---
title: "Every option except Hinkley C"
date: 15/10/16
day: Saturday
time: 12noon
excert: Why we will never need another nuclear power plant like Hinkley Point C. 
tags: Zero Carbon
extraInfo: Free event
location: Notes Cafe
_content: false
---
extends ../views/layout/single_event

block content
  p The new nuclear power station to be built at Hinkley point has caused considerable controversy. Hinkley C, which will be the most expensive object on Earth, has just been approved by the UK government. 
  p Mark Hartung will explain why we will never need another nuclear power plant like Hinkley Point C. He will explain other energy generation options for the Solent region. Followed by a question-and-answer session and discussion.
  p Mark works at a renewable energy company. He has expertise in battery storage systems and managing renewable projects. 
  p Tickets are free, #[a(href="https://www.eventbrite.co.uk/e/every-option-except-hinkley-c-tickets-28110064961") available here.] 
