---
title: '"Cheesy" Vegan Cooking Demonstration'
date: 13/10/2016
day: Thursday
time: 7pm
excert: Sold out!
tags: Local And Sustainable Food
location: Notes Cafe
extraInfo:


_content: false
---

extends ../views/layout/single_event

block content

  p An award-winning vegan baker will be demonstrating how to make vegan macaroni cheese and cheesecake. She will be demonstrating how you can make quick, tasty, affordable vegan meals using everyday ingredients (no strange ingredients or nasties!).
  p This is a fun, lighthearted demonstration for vegans, veggies or meat eaters alike! You will be able to ask Hannah any questions you may have about veganism or vegan cooking.
  p There will be an opportunity to sample the delicious food at the end.
  p Hannah is a multi award-winning vegan baker, making delicious cakes such as the ones in the photo above. She has been a vegan for 15 years. #[a(href="www.hannahbananabakery.co.uk") Click here to take a look at her website.]
  p 
  p Please note, although tickets are free, donations on the day to support the venue will be very much appreciated.
