---
title: "Day cycle ride to Holt"
date: 16/10/16
day: Sunday
time: 9am start
excert: A moderate-paced cycle ride, with stops for tea and coffee.
tags: Zero Carbon,Sustainable Transport,Health And Happiness
location: Redbridge Flyover
_content: false
---
extends ../views/layout/single_event

block content
  p Day cycle ride to Holt. A moderate-paced (10-12mph) cycle ride to Drusilla's Inn at Holt with coffee at Fordingbridge and Tea at Acres Down. Distance: 50 miles road ride. Organised by #[a(href="http://www.cyclinguk.org/event/ride/southampton-ctc-day-ride-holt") Southampton CTC].
  p Meet under Redbridge Flyover, Near The Ship Inn, Test Lane / Old Redbridge Road, SO15 0NN. SU 372 137
  p #[strong Contact:] Jim Probert for more info 02380 349985
