---
title: "Sustainability-themed Researcher’s Café"
date: 14/10/16
day: Friday
time: 6:30pm
excert: An opportunity to hear about the latest research into sustainability, direct from researchers, in a relaxed sociable setting.
tags: Zero Carbon,Culture And Heritage
location: Mettricks Old Town
_content: false
---

extends ../views/layout/single_event

block content

  p The Researchers' Cafe is an opportunity for staff and PhD students from the University of Southampton to share their research with members of the general public. 
  p Researchers' Café events are informal - you can grab a coffee and a seat and listen to/discuss current research. Discussions are fun as well as intellectually stimulating!
  p It's a great opportunity to engage with people from different walks of life, whether researchers, students, people who work in industry, activists or just those with an interest.
  p Please note, the booklet listed an incorrect start time - this event will start at 6.30pm.
