---
title: "Improving Southampton's Environment"
date: 10/10/16
day: Monday
time: 7pm
excert: This panel discussion assembles a diverse panel of individuals to discuss how Southampton could become cleaner and greener.
tags: Sustainable Water Land Use And Wildlife
location: Notes café
_content: false
---

extends ../views/layout/single_event

block content

  p Southampton has one of the greatest proportions of green-space in the UK. Yet those who call Southampton home struggle to think of our city as a clean and green one. This panel discussion assembles a diverse panel of individuals who may be able to change that perception. By helping inform us of how community can increase engagement and use data and to form plans to influence policy and clean up Southampton's air, water and community at large.
  p Dr Neal O’ Riain worked on “Breathe Heathrow”, a community project which used data from crowd funded pollution and noise sensors placed in people’s gardens to convince parliament to reconsider plans for a third runway at Heathrow Airport.
  p Ms Mairin Williams is an individual who loves to take action. Now representing Surfer’s Against Sewage, she grew up cleaning beaches and continues the fight in Southampton while studying Oceanography."
  p Dr Tim Ferrero is the lead marine conservationist for the Hampshire and Isle of Wight Wildlife Trust. He uses evidence and understanding of environmental issues to enforce regulation and develop policy to maintain local conservation areas. He currently working on a project to turn the Solent into the UKs first marine national park.
  p Dr Jane Lavery, is a lecturer of Latin America studies. She is impassioned to protect our planet by engaging people through art and literature. She runs outreach programmes and works with schools to inspire the young to protect the future world. Her interests include plastic pollution in the sea.
  p Dr James Dyke is an academic, writer, and public speaker based in Southampton, UK and will be chairing the panel discussion. He is a Lecturer in Sustainability Science at the University of Southampton, a Fellow of the Royal Society of Arts, member of the European Geophysical Union and serves on the editorial board of the journal Earth System Dynamics. 
  p Tickets free, #[a(href="https://www.eventbrite.co.uk/e/improving-southamptons-environment-tickets-28291173662") click here to book.]
