---
title: 'Superhome Energy Efficient Home Tour'
date: 15/10/2016
day: Saturday
time: Various times
location: Hilldown Road
excert: A visit to a 'superhome', which has been refurbished and refitted to a very high standard of energy efficiency. An inspiration to the rest of us!
tags: Zero Carbon,Sustainable Materials
extraInfo: Free event


_content: false
---

extends ../views/layout/single_event

block content

  p A visit to a 'superhome', which has been refurbished and refitted to a very high standard of energy efficiency. An inspiration to the rest of us!
  p Tickets are free, #[a(href="https://www.eventbrite.co.uk/e/superhome-energy-efficient-home-tour-tickets-27714411551") click here to book.] 
  p Energy saving measures include:
  ul
    li Cavity Wall Insulation
    li Condensing boiler
    li Double Glazing
    li External Wall Insulation
    li Floor Insulation
    li Loft Insulation
    li Low Energy Appliances
    Li Low Energy Lighting
    Li Roof Insulation
    Li Solar PV Panels
    Li Solar Water Heating
    Li Water Saving Devices
  
  p Find out more details at the #[a(href="http://www.superhomes.org.uk/superhomes/southampton-hilldown-road/") Superhomes website.] 
  p Please note, there are a very limited number of tickets. This is Adrian's personal home so please also treat it with the respect you would expect in your own home.
