---
title: "Woolston to Bursledon Cycle Ride"
date: 16/10/16
day: Sunday
time: 9.45am – 1pm
excert: A sociable, easy paced ride.
tags: Zero Carbon,Sustainable Transport,Health And Happiness
location: Woolston Station
_content: false
---

extends ../views/layout/single_event

block content

  p Led cycle ride from Woolston Station to Bursledon. A sociable, easy-paced ride, with a coffee and cake stop. Organised by #[a(href="http://www.southamptoncyclingcampaign.org.uk/") Southampton Cycling Campaign]
  p Meet at Woolston Station.
