---
title: "Film screening – Inhabit: A Permaculture Perspective"
date: 16/10/16
day: Sunday
time: 3pm
excert: Introducing permaculture, a design system based on earth care, people care and fair share. Plus talks from local people using permaculture techniques.
tags: Local And Sustainable Food,Sustainable Water Land Use And Wildlife,Culture And Heritage
location: The Art House
_content: false
---
extends ../views/layout/single_event

block content
  p Inhabit is a feature length documentary introducing permaculture: a design method that offers an ecological lens for solving issues related to agriculture, economics, governance, and on. The film presents a vast array of projects, concepts, and people, and it translates the diversity of permaculture into something that can be understood by an equally diverse audience. 
  p For those familiar, it will be a call to action and a glimpse into what's possible - what kind of projects and solutions are already underway. 
  p For those unfamiliar, it will be an introduction to a new way of being and a new way of relating to the Earth. For everyone, it will be a reminder that humans are capable of being planetary healing forces.
  p We will have a short talk after the documentary by a local permaculturalist, demonstrating how we can integrate this design system into our lives at a local level in Southampton.
  p #[a(href="https://www.eventbrite.co.uk/e/film-screening-inhabit-a-permaculture-perspective-tickets-27714974234") Click here for tickets.] Although the tickets are free, a donation to the Art House on the day would be very much appreciated.
  p You may wish to get a delicious vegetarian Sunday Roast at the Art House Cafe beforehand. #[a(href="https://thearthousesouthampton.org/sunday-lunch/") Please see their website for more details.]
