---
title: "Cycle Ride to Meonstoke"
date: 15/10/16
day: Saturday
time: 10am
excert: A moderate-paced 45-mile bike ride 
tags: Zero Carbon,Sustainable Transport,Health And Happiness
extraInfo:
location:  Chandlers Ford Railway Station
_content: false
---
extends ../views/layout/single_event

block content
  p A day cycle ride to The Buck’s Head, Meonstoke. A moderate-paced (10-12mph) 45-mile ride. Organised by #[a(href="http://www.cyclinguk.org/event/ride/southampton-ctc-day-ride-bucks-head-meonstoke") Southampton CTC]
  p Meet at Chandlers Ford, Railway Station, Station Lane, SO53 4DE, Station Lane side, next to the ticket office.
  p #[strong Contact:] Mary Wallbank 02380 252003
  p The CTC is the national cycling charity; it inspires and helps people to cycle and keep cycling. It encourages all types of cycling, on the road or off it.  It supports you if you already ride, or would like to ride, to work or school, for health, touring, sport and leisure – or just because it’s fun. Members of Southampton CTC range from those who like to ride 10-20 miles to those who ride Sportifs and events of over 1000km. Some members also enjoy touring in the UK and abroad.
