---
title: "Butterball bath-bomb making sessions"
date: 16/10/16
day: Sunday
time: 11am & 4pm
excert: Learn how to make this bath bomb, for delicious-looking skin!
tags: Sustainable Materials,Equity And Local Economy
location: Lush, 12 East Bargate Street, Southampton, SO14 2DJ
_content: false
---
extends ../views/layout/single_event

block content

  p For delicious-looking skin. Learn how to make this bath bomb, to soothe dry, sensitive or irritated skin using natural ingredients.   
  p Once the cocoa butter pieces have melted, your skin will be coated by a light buttery film that smells good enough to eat. Ylang ylang is used in aromatherapy to treat stress and depression, as well as relaxing the nervous system, and relieves anger, panic and fear.
  p Made using entirely fresh ingredients and is part of a closed loop plastic packaging scheme.
  p Email the shop (southampton@lush.co.uk) to book. Sessions last approximately an hour.
