---
title: 'The Burger Apocalypse with Tony Curran'
date: 10/08/16
day: Monday
time: 6:30pm
excert: This entertaining and highly participative show explains how you can cut your food carbon footprint and reduce food waste.
tags: Local And Sustainable Food,Zero Carbon
location: Mettricks
_content: false
---

extends ../views/layout/single_event

block content

  p The food you buy - and sometimes waste - accounts for around 20% of the UK’s carbon footprint. 
  p Reducing your food carbon footprint is one of the most effective ways to reduce your impact on the environment, and the way which can save you the most money.
  p This entertaining and highly participative show explains how you can cut your food carbon footprint and reduce food waste.
  p Tony Curran is an award-winning public engagement officer at the University of Southampton. He has recently returned from headlining the Ampitheatre stage day programme at Bestival with his similarly engaging Sustainability Game Show. Find out more from his website: http://www.tonycurran.co.uk
  p Tony also runs the Researchers' Café, with upcoming events taking place on Thursday 13th October linked to the British Art Show, and Friday 14th October as part of Sustainability Week. #[a(href="https://www.facebook.com/groups/researcherscafe/") Find out more here.]
  p We have limited tickets available for this free event, and expect it to be in high demand, so make sure you book early! This will be a more intimate version of the talk Tony will be giving at TEDx Southampton on 5th November!
  p #[a(href="https://www.eventbrite.co.uk/e/the-burger-apocalypse-tickets-27715463698") Click here for tickets.]
