---
title: "Are insects our future food source?"
date: 15/10/16
day: Saturday
time: 3pm
excert: A discussion about eating insects and a chance to try some tasty insect snacks!
tags: Local And Sustainable Food
location: The Bookshop Alehouse, 21 Portswood Road, SO17 2ES
_content: false
---
extends ../views/layout/single_event

block content
  p #sciroom #sustainability 
  p Who's up for learning about a whole new way to approach our food and our planet? 
  p To address community questions on edible insects, The Science Room visit Bookshop Alehouse for Southampton Sustainability Week and invite Southampton's active science communicator in the area, Dr Jenny Josephs! 
  p Jenny will discuss the following community questions: 
  p 
    ol
      li "Are insects our future food source?" and "How can we transform Western society to eat insects?" from Andy 
      li "How much do we rely on invertebrates for our current food supply?" from Georgia 
      li "What is the tastiest bug?" from Jamal 
  p Dr Jenny Josephs, who completed her PhD at the University of Southampton in vision science before going on to found The Bug Shack, a UK company which promotes edible insects as a sustainable source of protein. She will provide the opportunity to discuss the questions creatively and also to sample some edible insects. 
  p
  p The Science Room is an informal science community usually based at The Art House in Southampton that encourages everyone to get involved in science through creative talks, questions, exploration and discussion.
  p #[a(href="https://www.facebook.com/events/309097909459434/") Click here to see the facebook event page.]
