---
title: "Cupcake Face Mask Making Sessions"
date: 15/10/16
day: Saturday
time: 10am & 5pm
excert: Learn how to make face masks with all-natural ingredients. 
tags: Sustainable Materials,Zero Waste
location: Lush, 12 East Bargate Street, Southampton SO14 2DJ
_content: false
---
extends ../views/layout/single_event

block content

  p Learn how to make face masks with all-natural ingredients. Rhassoul mud, which is highly absorbent, works with cocoa powder to draw out all the dirt and impurities and give a deep cleanse. Fresh mint stimulates and tones the skin, whilst linseed and cocoa butter soften and moisturise. 
  p Uses cocoa butter from a peace community in Columbia, Ylang from a self-sufficient permaculture project in Ghana, the world's first Fairtrade Vanilla absolute and is sold with no packaging.
  p Email the shop (southampton@lush.co.uk) to book. Sessions last approximately an hour.
