---
title: "Cargo & trailer bike meet"
date: 16/10/2016
day: Sunday
time: 1pm-2.00pm
location: Play Park, Southampton Common
excert: A chance to meet up with people who carry large loads on their bicycle or trailer.
tags: Health And Happiness, Sustainable Transport
extraInfo:


_content: false
---

extends ../views/layout/single_event

block content

  p Do you carry large loads or kids on your bicycle or trailer? We have a Cargo Bike photo opportunity this Sunday.
  p We will meet at the Play Area on the Common for a mass cycle ride and a photo shoot, followed by a picnic/snack if the weather is ok.
  p Cargo bikes, trailers, tag-alongs all welcome with or without cargo on board!
  
